name: Build Backend

on:
  workflow_call:
    inputs:
      go_version:
        description: "Go version to use"
        required: true
        type: string

jobs:
  build-backend:
    name: Build Backend
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ inputs.go_version }}

      - name: Install Mage
        run: go install github.com/magefile/mage@latest

      - name: Set version
        run: ./.github/scripts/set-version.sh

      - name: Build backend
        run: mage

      - name: Upload backend artifacts
        uses: actions/upload-artifact@v4
        with:
          name: backend-dist
          path: dist/
          retention-days: 1