name: CI Pipeline

on:
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:
    inputs:
      publish_to_aws:
        description: 'Publish to AWS S3'
        required: true
        default: false
        type: boolean

env:
  NODE_VERSION: '22'
  GO_VERSION: '1.24.4'
  KUBERNETES_CPU_LIMIT: '12'
  KUBERNETES_CPU_REQUEST: '12'
  KUBERNETES_MEMORY_REQUEST: '16Gi'
  KUBERNETES_MEMORY_LIMIT: '16Gi'

jobs:
  ci:
    name: CI
    uses: grafana/plugin-ci-workflows/.github/workflows/ci.yml@main # zizmor: ignore[unpinned-uses]
    permissions:
      contents: read
      id-token: write
    with:
      plugin-version-suffix: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || '' }}
      go-version: '1.24'
      golangci-lint-version: '2.1.6'
      run-playwright: false


