name: CI Pipeline

on:
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:
    inputs:
      publish_to_aws:
        description: 'Publish to AWS S3'
        required: true
        default: false
        type: boolean

jobs:
  prepare-frontend:
    name: Prepare Frontend
    uses: ./.github/workflows/prepare-frontend.yml
    with:
      node_version: '22'

  build-frontend:
    name: Build Frontend
    uses: ./.github/workflows/build-frontend.yml
    needs: prepare-frontend
    with:
      node_version: '22'

  test-frontend:
    name: Test Frontend
    uses: ./.github/workflows/test-frontend.yml
    needs: prepare-frontend
    with:
      node_version: '22'

  compatibility-check:
    name: Compatibility Check
    uses: ./.github/workflows/compatibility-check.yml
    needs: build-frontend

  build-backend:
    name: Build Backend
    uses: ./.github/workflows/build-backend.yml
    with:
      go_version: '1.24.4'

  test-backend:
    name: Test Backend
    uses: ./.github/workflows/test-backend.yml
    with:
      go_version: '1.24.4'

  package:
    name: Package Plugin
    uses: ./.github/workflows/package.yml
    needs: [build-frontend, build-backend]
    with:
      node_version: '22'
    secrets:
      grafana_token: ${{ secrets.GRAFANA_ACCESS_POLICY_TOKEN }}

  e2e:
    name: E2E Tests
    uses: ./.github/workflows/e2e.yml
    needs: [package]

  publish-aws:
    name: Publish to AWS S3
    uses: ./.github/workflows/s3_publish.yml
    if: inputs.publish_to_aws
    needs: [package]

  log:
    name: LOG
    runs-on: ubuntu-latest
    needs: [package, e2e]
    steps:
      - name: Display all outputs as JSON
        run: |
          echo "${{ toJSON(github) }}"
      - name: RUN RELEASE ?
        run: |
          echo "${{ github.event_name == 'pull_request' && github.base_ref == 'main' }}"
      - name: IS DRAFT ?
        run: |
          echo "${{ contains(needs.package.outputs.version, 'dev') }}"

  create-github-release:
    name: Create GitHub Release
    uses: ./.github/workflows/release.yml
    needs: [package, e2e]
    if: github.event_name == 'pull_request' && github.base_ref == 'main'
    with:
      version: ${{ needs.package.outputs.version }}