name: Compatibility Check

on:
  workflow_call:


jobs:
  compatibilitycheck:
    name: Compatibility Check - Grafana ${{ matrix.grafana_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        grafana_version: ["10.4.18", "11.6.1", "12.0.2", "latest"]
    env:
      GRAFANA_VERSION: ${{ matrix.grafana_version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node_version }}
          cache: 'npm'

      - name: Restore node_modules cache
        uses: actions/cache@v4
        with:
          path: |
            node_modules/
            package-lock.json
          key: npm-${{ github.ref_name }}-${{ hashFiles('package-lock.json') }}

      - name: Install dependencies
        run: npm ci

      - name: Set version
        run: ./.github/scripts/set-version.sh

      - name: Compatibility check
        uses: grafana/plugin-actions/is-compatible@main
        with:
          module: "./src/module.ts"
          comment-pr: "yes"
          fail-if-incompatible: "yes"
